<div class="jumbotron">
  <h2 class= "text-center">Módulo para personalizar comisiones</h2>
  <p class= "text-center">para Boletia</p>
</div>

<div class="row">
	<div class="col-sm-6">
			<%= render partial: 'event/search'%>
	</div>
	<div class="col-sm-6">
			<%= render partial: 'event/search'%>
	</div>
</div>