// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$first-color:  #380B61;
$second-color: white;

a,.title-user {
	color: $first-color;
}

th {
	color: white;
	background-color: $first-color;
}

#btn-simulate {
	border: 1px solid $first-color !important;
	background-color: white !important;
}

.user-data {
	color: gray;
	border-bottom: 2px solid $first-color;
}